:root {
    --main-font: "neulis-sans";
    --title-font: "Forma DJR Display", sans-serif;
    --black: hsla(40, 10%, 10%, 1);
    --white: hsla(42, 25%, 95%, 1);
    --pink: hsla(332, 92%, 71%, 1);
    --pink-ligth: hsla(314, 49%, 72%, 1);
    --green-ligth: hsla(140, 51%, 45%, 1);
    --green: hsla(153, 77%, 29%, 1);
    --red: hsla(11, 85%, 54%, 1);
    --orange: hsla(24, 100%, 58%, 1);
    --yellow: hsla(48, 94%, 60%, 1);
    --blue: hsla(231, 92%, 72%, 1);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: var(--black);
    overflow-x: hidden;
}

h1, h2, h3, h4, p, a {
    z-index: 10;
    font-family: var(--main-font);
}

a {
    text-decoration: none;
}

img {pointer-events: none;
}

.button {
    display: flex;
    padding: 10px 25px;
    border-radius: 40px;
    gap: 12px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    p {
        color: var(--white);
        width: max-content;
        text-decoration: none;
        border: none;
    }
    img {
       height: 24px;
       width: 24px;
       --fill: red;
    }
    &:hover {
        svg {
            rotate: 45deg;
            transition: rotate 0.3s ease;
        }
    }
}

.stroke {
    border: var(--white) 1px solid;
    &:hover svg{
        color: var(--white);
    }
}
.stroke::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transition: left 0.4s ease;
    z-index: 0;
}
.stroke:hover::before {
    left: 0;
}
.stroke p {
    position: relative;
    z-index: 1;
    transition: color 0.4s ease;
}

.nofill:hover{
    svg {
            rotate: 45deg;
            transition: rotate 0.3s ease-in-out;
    }
}

.stroke:hover p {
    color: var(--black);
}
.fill {
    background-color: var(--black, #1B1916);
    p {
        color: var(--white);
    }
    &:hover {
        background-color: #222221;
        svg {
            rotate: 45deg;
            transition: rotate 0.3s ease-in-out;
            color: var(--white);
        }
    }
}
.back {
    background-color: var(--white);
    width: min-content;
    svg {
        color: var(--green);
        rotate: -135deg;
    }
    p {color: var(--green);}


}
.back:hover {
    border: 1px solid var(--white);

    svg {
        rotate: -135deg;
    }
}

/* SECTION : Hero (Titre principal + décoration) */
#hero {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;

    #hero-core {
        position: relative;
        width: 100vw;
        height: 104vh;
        margin: 0 auto;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        background-color: var(--black);
    
        #hero-title {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            max-width: 600px;
    
            p {
                color: var(--white);
                opacity: 0.6;
            }
    
            h1 {
                color: var(--White, #F5F3EE);
                text-align: center;
                font-family: var(--title-font);
                font-size: 42px;
                font-style: regular;
                line-height: 48px;
                letter-spacing: 0.3px;
    
                .hero-name {
                    color: var(--blue);
                    font-family: "shantell-sans-variable", sans-serif;
                    font-variation-settings: "SPAC" 0, "BNCE" 0, "INFM" 0, "ital" 0, "wght" 400;
                    transition: font-variation-settings 0.3s ease;
                    &:hover {
                        font-variation-settings: "wght" 500;
                        transition: font-variation-settings 0.3s ease;
                        
                    }
                }
            
    
                .hero-design {
                    color: var(--red);
                    font-family: "playfair-display", serif;
                }
            }
    
            #start_action {
                background-color: var(--white);
                color: var(--black);
            }
    
            .hero-star {
                position: absolute;
            }
            .star1 {
                top: -40px;
                left: 50px;
                scale: 0.8;
                rotate: 7deg;
            }
            .star2 {
                bottom: 20px;
                scale: 0.7;
                right: 0;
                rotate: 27deg;
            }
        }
    
        #hero-dot {
            position: absolute;
            width: 100vw;
        }
    }
}
.section-title {
    z-index: 5;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    h3 {
        font-family: var(--title-font);
        font-size: 42px;
    }
}

/* SECTION : A propos */

#propos {
    z-index: 50;
    position: relative;
    width: 100vw;
    height: 1200px;
    background-color: var(--white);
    .lines {
        img, svg {
            position: absolute;
        }
        .linev1 {
            left: 6.06vw;
        }
        .linev2 {
            top: 10vh;
            left: 44vw;
        }
        .linev3 {
            top: 1.8vh;
            left: 62.5vw;
        }
        .lineh1 {
            top: 31.5vh;
        }
        .lineh2 {
            top: 60vh;
        }
    }

    .canva {
        position: relative;
        width: 100%;
        height: 100%;

        .floating-card {
            position: absolute;
            cursor: grab;
            user-select: none;
            z-index: 100;
            transition: box-shadow 0.2s ease;
        }
        .floating-card:active img{
            cursor: grabbing;
            /*box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);*/
        }

        .profil {
            top: 14%;
            left: 34%;
        }
        .frame {
            top: 50%;
            left: 14%;
        }
        .passion {
            top: 30%;
            left: 60%;
            background: var(--pink, #F970AF);
            box-shadow: -2px 2px 30px 0px rgba(0, 0, 0, 0.05);
            display: inline-flex;
            padding: 40px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            max-width: 20%;
            min-width: 200px;

            .float-star {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
            }
        } 
        .search {
            top: 58%;
            left: 50%;
            background-color: var(--black);
            border-radius: 25px;
            display: flex;
            padding: 15px;
            gap: 10px;
            min-width: 30%;

            img {
                max-width: 20px;
            }
            p {
                color: var(--white);
            }
        }
    }
}
.lineh1, .lineh2, .linev1, .linev2, .linev3 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: none;
}

@keyframes drawLine {
    to {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
    }
}
/* SECTION : Articles */

#section-article {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 5vw 10vw;
    gap: 42px;
    background-color: var(--white);

    .article {
        flex: 1;
        position: relative;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 20px;
        min-width: 320px;
        height: 100%;

        img.illustration {
            position: relative;
            width: 100%;
        }

        h3 {
            color: var(--black, #1B1916);
            font-family: var(--main-font);
            font-size: 24px;
            line-height: 34px;
            letter-spacing: 0.18px;
            margin-bottom: 5px;
        }

        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            gap: 10px;
            max-width: 80%;
            margin-bottom: 10px;

            li {
                display: flex;
                padding: 5px 10px;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                border: 1px solid var(--black, #1B1916);
                color: var(--black, #1B1916);
                font-size: 12px;
                font-family: var(--main-font);
            }
        }

        p.description {
            color: var(--black, #1B1916);
            font-family: var(--main-font);
            font-size: 14px;
            line-height: 18px;
            opacity: 0.7;
            margin-bottom: 15px;
        }

        a {
            width: 100%;
            box-sizing: border-box;
        }
    }
}
.article img {
    transition: transform 0.2s ease;
}


/* SECTION : Footer */

footer {
    display: flex;
    align-items: center;
    background-color: var(--white);
    flex-direction: column;
    .contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--black);
        border-radius: 40px;
        width: 90vw;
        padding: 90px;
        box-sizing: border-box;

        h3 {
            max-width: 45%;
            color: var(--White, #F5F3EE);
            font-family: var(--title-font);
            font-size: 42px;
            font-weight: 200;
            line-height: 48px;
            letter-spacing: 0.3px;
    
            .contact-conv {
                font-family: "shantell-sans-variable", sans-serif;
                font-variation-settings: "SPAC" 0, "BNCE" 0, "INFM" 0, "ital" 0, "wght" 400;
                color: var(--green);
            }
            .contact-disc {
                font-family: "playfair-display", serif;
                color: var(--orange);
            }
        }

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 20%;
            min-width: 100px;
            gap: 10px;
            a {
                min-width: 250px;
            }
        }
    }

    .links {
        display: flex;
        background-color: var(--white);
        width: 90%;
        padding: 90px;
        box-sizing: border-box;
        gap: 50px;
        div {
            display: flex;
            flex-direction: column;
            gap: 15px;

            h4 {
                margin-bottom: 10px;
            }
            p, a {
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                color: var(--black);
            }
            p:hover, a:hover {
                text-decoration: underline;
                color: #222221;
            }
        }
    }
}


@media screen and (max-width: 768px) {
   
    footer .contact{
        align-items: start;
        flex-direction: column;
        gap: 50px;
        h3 {
            max-width: 100%;
        }
        .buttons {
            align-items: start;
        }
    }
}


#article-hero {
   background-color: var(--white);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 80vh;
   padding: 5vw;
   box-sizing: border-box;

   #article-core {
    background-color: var(--green);
    height: 100%;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 40px;
    padding: 20px;


    #article-title {
        display: flex;
        gap:10px;
        flex-direction: column;
        max-width: 600px;

        img.illustration {
            position: relative;
            width: 100%;
        }

        h2 {
            color: var(--white);
            font-family: var(--main-font);
            font-size: 42px;
            line-height: 34px;
            letter-spacing: 0.18px;
            margin-bottom: 5px;
        }

        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            gap: 10px;
            max-width: 80%;
            margin-bottom: 10px;

            li {
                display: flex;
                padding: 5px 10px;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                border: 1px solid var(--white);
                color: var(--white);
                font-size: 16px;
                font-family: var(--main-font);
            }
        }
    }
   }
}

img.article-illustration {
    position: absolute;
    right: 10%;
    width: 35vw;
    min-width: 400px;
    height: auto;
    bottom: 10vh;

}

#article-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 5vw 10vw 10vw 5vw;
    overflow: hidden;
    position: relative;
    background-color: #C8F66F;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
    }
}
.article-galerie{
    position: relative;
    font-size: 34px;
    padding-top: 100px;
    width: 100%;
    text-align: center;
}
.article-galerie:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    top:0;
    left: 0;
    background-color: var(--white);
    border-radius: 0 0 40px 40px ;
    z-index: 1;
}
#article-images::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--white);
    z-index: 1;
    height: 5vw;
    border-radius: 40px 40px 0 0;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    #article-images {
        grid-template-columns: 1fr;
    }
    
    
}
@media screen and (max-width: 1300px) {
    
    img.article-illustration {
        position: relative;
        right: auto;
        bottom: auto;
        margin: 0 auto;

    }
}


#article-description {
    background-color: var(--white);
    padding: 25px 10vw;
    h3 {
        font-size: 30px;
    }
    p {
    max-width: 500px;
    }

}